:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #e4c2f7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  margin: 0 auto;
  font-size: large;
}

label {
  font-family: sans-serif;
  font-size: 1rem;
  padding-right: 10px;
}

select {
  font-size: 0.9rem;
  padding: 2px 5px;
  color: rgb(129, 12, 119);
  background-color: rgb(106, 172, 248);
}

button {
  color: #ff86eb;
  background-color: rgb(104, 13, 116);
}

textarea {
  background-color: #ff86eb;
  color: rgb(0, 0, 0);
}